.control-container {
    margin-top: 23px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-legend {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

/* Switch */

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    width: 40px;
    height: 20px;
    margin: 0px;
    background-color: var(--red);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: var(--shadow);
}

label::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 4px;
    left: 4px;
    transition: 0.5s;
}

input:checked+label:after {
    left: 24px;
}

input:checked+label {
    background-color: #26a75a;
}


/* Slider */

input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: lightGrey;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    background: lightGrey;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: var(--red);
    cursor: pointer;
    box-shadow: var(--shadow);
    margin-top: -5px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: var(--red);
    cursor: pointer;
    box-shadow: var(--shadow);
    margin-top: -5px;
    border-radius: 50%;
}

.fas {
    color: var(--red)
}