canvas {
  width: 350px;
  height: 350px;
}

#arm-canvas {
  border: 1px solid lightGrey;
}

.canvas-title {
  font-size: 16px;
  margin-bottom: 5px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue;
}

body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

label {
  margin-left: 35px;
}