:root {
  --red: #d7513a;
  --shadow: 0 0 20px #477a8550;
}

canvas {
  width: 350px;
  height: 350px;
}

#arm-canvas {
  border: 1px solid lightGrey;
}

.mt-4 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-1 {
  margin-left: 8px;
}

.canvas-title {
  font-size: 16px;
  margin-bottom: 5px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue;
}

body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

label {
  margin-left: 35px;
}

.credit-text {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
  font-size: 12px;
  opacity: 0.3;
}