.plot-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.plot-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.y-axis-container {
    display: flex;
    justify-content: flex-end;
}

.y-axis-labels {
    display: flex;
    margin-right: 3px;
    width: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.y-axis-legend {
    font-weight: bold;
    width: 15px;
    display: flex;
    align-items: center;
}

.x-axis-legend {
    display: flex;
    font-weight: bold;
    justify-content: center;
    height: 15px;
    margin-top: 2px;
}

.x-axis-container {
    display: flex;
    flex-direction: column;
}

.x-axis {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 5px;
}

.x-axis-labels {
    display: flex;
    justify-content: space-between;
    height: 15px;
}

.x-tick {
    border-left: 2px solid black;
}

.y-axis {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5px;
}

.y-tick {
    border-top: 2px solid black;
}

.double-canvas-container {
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 350px;
    position: relative;
}

#plot-canvas,
#plot-canvas-overlay {
    top: 0px;
    left: 0px;
    position: absolute;
}